/* Base Layout */
body {
    background-color: #333;
    color: #f5f5f5;
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  /* Typography */
  h2 {
    color: #fff; 
    margin-bottom: 0.5em;
  }
  
  p {
    margin-bottom: 1em;
  }
  
  /* Containers and Grid */
  .container {
    width: 80%;
    margin: auto;
    padding: 20px;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col {
    flex: 1;
    padding: 15px;
    min-width: 200px; 
  }
  
  /* Sections */
  #introduction, #call-to-action {
    background-color: #424242;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  #call-to-action {
    color: #ddd;
  }
  
  a {
    color: #4db8ff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  }
  
  /* Navbar Styles */
.navbar {
    background-color: #333;
  }
  
  .navbar-brand, .nav-link {
    color: #f5f5f5;
  }
  
  .navbar-brand:hover, .nav-link:hover {
    color: #ddd;
  }
  
  .navbar-toggler {
    border-color: #444;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23f5f5f5' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  

  
  /* Responsive adjustments for navbar collapse */
  @media (max-width: 992px) {
    .navbar-collapse {
      background-color: #333;
    }
  
    .nav-link {
      border-bottom: 1px solid #444; 
    }
  }
  
  .nav-item .nav-link {
    font-weight: normal; 
  }
  

  /* Table Styles */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #f5f5f5;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #4e4e4e; 
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #4e4e4e; 
  }
  
  .table tbody + tbody {
    border-top: 2px solid #4e4e4e;
  }
  
  /* Header Styles */
  h1.text-center {
    color: #fff;
    margin-bottom: 0.5em;
    text-align: center;
  }
  
  /* Zebra Striping for rows */
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05); 
  }
  
  /* Hover effect for rows */
  .table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1); 
  }
  
  /* Responsive table */
  @media (max-width: 768px) {
    .table-responsive {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
  }
  