{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Summary Statistics</h1>

    <div class="text-center">
        <div>
            <h2>Summary</h2>
            <p>Total Decisions: {{ analytics.total_decisions }}</p>
            <p>Average # of times you made a confident decision: {{ analytics.confidence_avg }}%</p>
            <p>Average # of time you made an impulsive decision: {{ analytics.impulsive_avg }}%</p>
            <p>Average # of times you had a backup plan: {{ analytics.backup_avg }}%</p>
            <p>Average Confidence Rating: {{ analytics.confidence_scale_avg }}</p>
            <p>Mean Logging Time: You logged the decision on an average of {{ analytics.mean_logging_time }} days before having to make the decision</p>
        </div>

        <div>
            <h2>Details</h2>
            <p>The day of the week you seem to make the most confident decsions is {{ analytics.confident_decision_day }}</p>
            <p>The number of confident decisions made on that day is {{ analytics.num_confident_day_count }}</p>
            <p>The day of the week you seem to make the most impulsive decsions is {{ analytics.impulsive_decision_day }}</p>
            <p>The number of impulsive decisions made on that day is {{ analytics.num_impulsive_day_count }}</p>
        </div>

        <div>
            <h2>List of Most Confident Decisions</h2>
            {% for decision in analytics.list_of_confident_decsions %}
                <p>{{ decision }}</p>
            {% endfor %}
        </div>
    </div>


{% endblock %}