{% extends "base.html" %}

{% block content %}

    <section id="introduction">
        <h4>Embark on a journey of thoughtful decision-making with DecideSmart, your personal digital decision journal.</h4>
    </section>

    <div class="container">
        <div class="row">
          <div class="col">
            <h2>Effortless Decision Logging</h2>
            <p>The essence of DecideSmart lies in its effortlessly straightforward decision-logging interface. Crafted for ease and simplicity, you can seamlessly record the details of your decisions without fuss or hassle.</p>
          </div>
          <div class="col">
            <h2>Insights Tailored to You</h2>
            <p>Our analytics go beyond mere data points; they’re about understanding the story behind your decisions. As you build your decision journal, our dashboard will highlight personal trends and insights, empowering you to make choices that align with your long-term goals.</p>
          </div>
          <div class="col">
            <h2>Your Private Repository</h2>
            <p>Your decisions are deeply personal, and we get that. At DecideSmart, safeguarding your privacy isn’t just a feature — it’s our promise. Your decision records are secured with top-tier encryption and the latest in privacy technology, ensuring that your deliberations remain confidential.</p>
          </div>
        </div>
      </div>

    <section id="call-to-action">
        <h2>Make the Smart Choice Today</h2>
        <p>Ready to transform the way you make decisions? Register a <u>free account</u> with DecideSmart and take the first step towards enlightened decision-making. Your future self will thank you.</p>
    </section>


{% endblock %}